<%- include ./partials/header2.ejs %>

<h1>Edit your Workout</h1>
<form>
<form action="/shreddit/<%=workout._id%>?_method=PUT" method="POST">
      Type: <input type="text" name="name" placeholder="<%=workout.type%>"/><br/>
      Duration: <input type="text" name="color" value="<%=workout.duration%>"/><br/>
      Quantity: <input type="text" name="color" value="<%=workout.duration%>"/><br/>
      Name: <input type="text" name="color" value="<%=workout.duration%>"/><br/>
<button type="submit">Edit Workout</button>
</form>