<%- include ./partials/header2.ejs %>

<h1>Edit your Workout Activity</h1>
<br/>
<h3><%=workout.day.toDateString()%></h3> <br/>
<h2><%=activity.name%></h2>

<br/>
	

<form action="/shreddit/<%=planId%>/<%=workoutId%>/<%=activityId%>?_method=PUT" method="POST">
	<%if(activity.quantity === null) {%>
		Duration: <input type="text" name="duration" value="<%=activity.duration%>"/><br/>
	<%}%><br/>

	<%if(activity.duration === null) {%>
		Quantity: <input type="text" name="quantity" value="<%=activity.quantity%>"/><br/>
	<%}%><br/>
      
	<button type="submit">Update Activity</button>
</form>

<form action="/shreddit/<%=planId%>/<%=workoutId%>/<%=activityId%>?_method=DELETE" method="POST">
	<button type="submit">Delete Activity</button>
</form>