
<%- include ./partials/header.ejs %>
<form>
<form action="/shreddit/<%=workout_id%>?_method=PUT" method="POST">
      Type: <input type="text" name="name" value="<%=workout.type%>"/><br/>
      Duration: <input type="text" name="color" value="<%=workout.duration%>"/><br/>
      Quantity: <input type="text" name="color" value="<%=workout.quantity%>"/><br/>
      Name: <input type="text" name="color" value="<%=workout.name%>"/><br/>
<button type="submit">New Workout</button>
</form>