
<%- include ./partials/header2.ejs %>
<div class="container">
<h1 class="text-center mt-5 mb-5">Welcome to Your Shreddit Plan</h1>

<div class="card text-center show-card">

<h2><%=plan.name%></h2>

        <ul>
          <% for (let i = 0; i < plan.workouts.length; i++) {%>
              <h4 class="mb-3 mt-3"><%=plan.workouts[i].day%></h4>
                  <% for (let j = 0; j < plan.workouts[i].activities.length; j++) {%>
                    <% if(plan.workouts[i].activities[j].duration === null){%>
                      <li class="workout mb-3"><%=plan.workouts[i].activities[j].quantity%> <%=plan.workouts[i].activities[j].name%><br/>
                        <a class="btn btn-primary" href="/shreddit/<%=plan._id%>/<%=plan.workouts[i]._id%>/<%=plan.workouts[i].activities[j]._id%>/edit">Edit/Remove Activity</a>
                    <% } %>
                    <% if(plan.workouts[i].activities[j].quantity === null) { %>
                    <li class="workout mb-3"><%=plan.workouts[i].activities[j].duration%> minute <%=plan.workouts[i].activities[j].name%><br/>
                       <a class="btn btn-primary" href="/shreddit/<%=plan._id%>/<%=plan.workouts[i]._id%>/<%=plan.workouts[i].activities[j]._id%>/edit">Edit/Remove Activity</a>
                    <% } %>
                  <% } %>
                  <form action="/shreddit/<%=plan.workouts[i]._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger" type="submit">Completed Workout</button>
                    <a class="btn btn-success" href="/shreddit/new">Add an Activity</a>
                </form>     
                   
                
          <% } %>
        </ul>
<div>

</div>
