
<%- include ./partials/header.ejs %>
<div class="container">
<h1>Welcome to Your Shreddit Plan</h1>



<ul>
          <% for (let i = 0; i < plan.workouts.length; i++) {%>
              <li><%=plan.workouts[i].day%></li>
              <li><a href="/shreddit/<%=plan.workouts[i]._id%>"><%=plan.workouts[i]%></a></li>
              <form action="/shreddit/<%=plan.workouts[i]._id%>?_method=DELETE" method="POST">
          <button type="submit">Delete Workout</button>
          <a href="/shreddit/<%=plan.workouts[i]._id%>/edit">Edit</a>
				</form>		
          <% } %>
        </ul>


</div>
